<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Colegio de Abogados de Azul - Login</title>
<link href="estilos.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="wrapper">
    	<div class="header">
        	<a href="#" class="logo"></a>
            <h1>Nombre del Sistema</h1>
            <div class="menu">
            	<ul>
                	<li><a href="#" class="registro"></a></li>
                </ul>
            </div>
        </div>

   	  <div class="caja_login">
      	<div class="bordes">
    	  <img src="img/bkg_login_top.gif" width="380" height="13" alt="img" />
        </div>
        <div class="contenido_login">
   	      <h2>LOGIN</h2>
           <div class="division"></div>
           	<form action="" method="get" class="form_login">
            	<table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>USUARIO</td>
                  </tr>
                  <tr>
                    <td><input name="usuario" type="text" class="campo" /></td>
                  </tr>
                  <tr>
                    <td>CONTRASEÑA</td>
                  </tr>
                  <tr>
                    <td><input name="pass" type="text" class="campo" /></td>
                  </tr>
                  <tr>
                    <td><input name="send" type="submit" class="enviar_login" value="" /></td>
                  </tr>
                </table>
          </form>
         </div>
         <div class="bordes">
   	     <img src="img/bkg_login_bottom.gif" width="380" height="13" alt="img" /></div>
         <div class="olvido">* Olvidó su contraseña? Haga clic <a href="#">aquí</a> para recuperarla</div>   	
      </div>
	<div class="footer">
    	<p>Colegio de abogados - Departamento Judicial de Azul - 2011 Todos los derechos reservados</p>
        <a href="#" id="contact">Contacto</a>
    </div>
</div>
</body>
</html>
